/* all elements will include padding and margin in total width and height */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    background-color: #d9dcd6;
}

.header {
    padding: 15px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: inline-block;
    font-size: 48px;
    width: 100%
}
/* display navigation links next to title */
h1 {
    display: inline-block;
    font-size: 48px;
} 
/* set colour for 'seo' in h1*/
#seo {
    color: #d9dcd6;
}
/* navigation bar properties */
section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* remove bullet points from list and display list items on one line */
ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
/* set link color and remove underline from text */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* position and dimensions for 'digital-marketing-meeting' image, will fill available width */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} 
/* positions content text 25 px away from right margin*/
.float-left {
    float: left;
    margin-right: 25px;
} 
/* positions content text 25px away from left margin */
.float-right {
    float: right;
    margin-left: 25px;
} 
/* position of content containers linked in navigation*/
#content_box {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} 
/* dimensions, positioning, fonts, and background color for side panel*/
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
} 
/*sizing for content images*/
img {
    max-height: 200px;
}
/*preferences for content text and background*/
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    font-size: 36px;
}

h2 {
    margin-bottom: 20px;
   font-size: 36px;
}

/* set bottom margin and text color for content in benefits side panel*/
.benefit-content {
    margin-bottom: 32px;
    color: #ffffff;
}
/* headers in side panel*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*size of images in side panel*/
.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}